
<p style="text-align:right;">Brasília, 31 de agosto de 2018</p>

<h2>Boa noite Laudelina,</h2>
<p>&#8195;A Comunidade Bah&aacute;'&iacute; do Brasil tem a profunda alegria de informar que recebeu o seu pedido de ora&ccedil;&otilde;es e que este foi atendido.</p>
<p>&#8195;Temos a satisfa&ccedil;&atilde;o de compartilhar abaixo a ora&ccedil;&atilde;o especial - extra&iacute;da das Escrituras Sagradas da F&eacute; Bah&aacute;'&iacute;, reveladas por Bah&aacute;'u'll&aacute;h, O B&aacute;b e 'Abdu'l-Bah&aacute; - relacionada com o seu pedido. Esperamos que ela traga ao seu cora&ccedil;&atilde;o serenidade, alegria, confian&ccedil;a, esperan&ccedil;a e paz, e que por meio de seu efeito suas aspira&ccedil;&otilde;es sejam alcan&ccedil;adas, em conformidade com a vontade do Criador.</p>
<p>&#8195;Sugerimos que voc&ecirc; tamb&eacute;m fa&ccedil;a esta ora&ccedil;&atilde;o que traz as Palavras Sagradas de Deus, pela manh&atilde; e &agrave; noite, podendo convidar outras pessoas para tamb&eacute;m ouvi-la. Ore com absoluta f&eacute;, respeito e rever&ecirc;ncia e fale com Deus tudo o que passa no &iacute;ntimo do seu cora&ccedil;&atilde;o.</p>
<p>&#8195;Para ter acesso a uma sele&ccedil;&atilde;o de ora&ccedil;&otilde;es bah&aacute;'&iacute;s para diversos prop&oacute;sitos, acesse https://www.bahai.org.br/oracoes</p>

<p style="text-align:center;">Com amorosas sauda&ccedil;&otilde;es,</p>
<p style="text-align:center;">Comunidade Bah&aacute;&rsquo;&iacute; do Brasil</p>

    <br><br><br>
    
<h1 style="text-align:center;">Ora&ccedil;&otilde;es</h1>

<h3>Ora&ccedil;&atilde;o de Ajuda</h3>
<p>&#8195;Senhor! Lastim&aacute;veis somos n&oacute;s: concede-nos Teu favor. Somos pobres: d&aacute;-nos uma fra&ccedil;&atilde;o do oceano de Tua riqueza. Satisfaze as nossas necessidades e livra-nos da humilha&ccedil;&atilde;o, atrav&eacute;s de Tua gl&oacute;ria. Todas as aves, como os animais do campo, recebem de Ti seu sustento di&aacute;rio, e todos os seres s&atilde;o objetos de Teus cuidados e de Tua merc&ecirc;.</p>
<p>&#8195;N&atilde;o prives este fr&aacute;gil ser humano de Tua gra&ccedil;a maravilhosa e, atrav&eacute;s de Teu poder, favorece com Tua generosidade esta alma desfalecida.</p>
<p>&#8195;D&aacute;-nos o nosso p&atilde;o de cada dia e concede Teu acr&eacute;scimo nas coisas necess&aacute;rias &agrave; vida, para que dependamos s&oacute; de Ti, comunguemos inteiramente Contigo, prossigamos em Teu Caminho e declaremos Teus mist&eacute;rios. &Eacute;s o Todo-Poderoso, o Deus de Amor; &eacute;s Quem prov&ecirc; a toda a humanidade.</p>


<br><br><br>
Em qua, 22 de ago de 2018 às 14:52 <br><br>

<b>Mensagem</b>  Por favor orações pela harmonia faniliar <br>
